$InterFont: "Inter", sans-serif;
$LexendDecaFont: "Lexend Deca", sans-serif;
<<<<<<< Updated upstream

//Body font-size

=======
<<<<<<< HEAD
=======

//Body font-size

>>>>>>> e76b335cf12004d4e0c68302c918e97a1483d2ae
>>>>>>> Stashed changes
$BodyFontSize: 0.94rem;
