// Primary colors
$VeryDarkBlue: hsl(233, 47%, 7%);           //(main background)
$DarkDesaturatedBlue:hsl(244, 38%, 16%);    //(card background)    
$SoftViolet: hsl(277, 64%, 61%);            //(accent)


// Neutral colors
$White: hsl(0, 0%, 100%);                               //(main heading, stats)   
$SlightlyTransparetWhite: hsla(0, 0%, 100%, 0.75);      //(main paragraph)
$SlightlyTransparentWhite2: hsla(0, 0%, 100%, 0.6);     //(main paragraph)
