body, html {
  background-color: #090b1a;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7em;
  padding-right: 7em;
}
.container .module {
  margin: 0 auto;
  background-color: #1b1938;
  display: flex;
  justify-content: space-between;
  border-radius: 0.8em;
  overflow: hidden;
}
.container .module .module-text-content {
  padding-top: 2em;
  padding-right: 5em;
  padding-left: 4em;
  width: 55%;
}
.container .module .module-text-content .module-title {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.25rem;
}
.container .module .module-text-content .module-title .soft-violet-text {
  color: #aa5cdb;
}
.container .module .module-text-content .module-description {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Inter", sans-serif;
  line-height: 1.8em;
  font-size: 0.94rem;
}
.container .module .module-text-content .module-numbers {
  display: flex;
  gap: 4em;
  font-family: "Lexend Deca", sans-serif;
  margin-top: 4em;
  font-family: "Inter", sans-serif;
}
.container .module .module-text-content .module-numbers .stats-header {
  color: white;
}
.container .module .module-text-content .module-numbers .stats-subheader {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.94rem;
}
.container .module .module-text-content .module-numbers h2 {
  margin-bottom: 0.4em;
}
.container .module .module-image-section {
  position: relative;
}
.container .module .module-image-section .module-image {
  display: block;
}
.container .module .module-image-section .module-image-mob {
  display: none;
}
.container .module .module-image-section .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aa5cdb;
  opacity: 0.8;
  filter: contrast(1.5);
  -webkit-filter: contrast(1.5);
  mix-blend-mode: multiply;
}

@media (min-width: 1600px) {
  .container .module .module-text-content .module-title {
    font-size: 1.5rem;
  }
  .container .module .module-text-content .module-description {
    font-size: 1rem;
  }
  .container .module .module-text-content .module-numbers {
    margin-top: 2em;
    font-size: 1.2em;
  }
}
/* @media (max-width: 1330px) {
    .container {
        .module {
            .module-text-content {
                .module-numbers {
                    margin-top: .4em;
                }
            }
        }
    }  

} */
@media (max-width: 1435px) {
  .container .module .module-text-content .module-numbers {
    margin-top: 2em;
  }
}
@media (max-width: 1100px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 70%;
    height: 50%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .container .module {
    flex-direction: column-reverse;
    width: 80%;
    text-align: center;
  }
  .container .module .module-text-content {
    width: 100%;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .container .module .module-text-content .module-title {
    font-size: 1rem;
  }
  .container .module .module-text-content .module-numbers {
    justify-content: center;
    gap: 3em;
  }
  .container .module .module-image-section {
    display: flex;
    justify-content: center;
  }
  .container .module .module-image-section .module-image {
    display: none;
  }
  .container .module .module-image-section .module-image-mob {
    width: 100%;
    display: block;
  }
}
@media (max-width: 750px) {
  .container {
    width: 100%;
  }
  .container .module .module-text-content {
    text-align: center;
  }
  .container .module .module-text-content .module-title {
    font-size: 0.9rem;
  }
  .container .module .module-text-content .module-description {
    font-size: 0.85rem;
  }
  .container .module .module-text-content .module-numbers {
    justify-content: center;
    flex-direction: column;
    gap: 0.1em;
    font-size: 0.9em;
  }
}
@media (max-width: 700px) {
  .container .module {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .container .module {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */